<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 수정</title>
</head>
<body>
<form th:action="@{/board/view/{boardNum}/reply/{replyNum}/edit(boardNum=${board.boardNum},replyNum=${reply.replyNum})}" 
      th:object="${replyUpdateRequest}" method="post">
    <table align="center">
        <tr>
            <td align="right">
                <input type="submit" value="수정">
            </td>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td width="120" align="center">
                            댓글 수정
                        </td>
                        <td width="400">
                            <textarea th:field="*{replyContent}" rows="5" cols="55"></textarea>
                            <div th:if="${#fields.hasErrors('replyContent')}" th:errors="*{replyContent}" style="color: red;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            작성자
                        </td>
                        <td th:text="${reply.creator}">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            작성시간
                        </td>
                        <td th:text="${#temporals.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="right">
                <a th:href="@{/board/view/{boardNum}(boardNum=${board.boardNum})}">취소</a> |
                <a th:href="@{/board/list}">목록</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>